JWT_SECRET=
PORT=
# PostgreSQL
DB_USER=admin
DB_PASSWORD=sua_senha_segura
DB_NAME=meu_banco
DB_PORT=5432
DB_URL=postgresql://${DB_USER}:${DB_PASSWORD}@localhost:${DB_PORT}/${DB_NAME}

# pgAdmin
PGADMIN_EMAIL=admin@email.com
PGADMIN_PASSWORD=admin123
PGADMIN_PORT=5050